{% extends 'base.html' %}


	  {% block content %}
<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <br>
                <div class="intro-lead-in">Are you new to a city? </div><br><hr/><br>
                <div class="intro-lead-in">Check out the coolest places you can hang out</div><br>
                
                <form method='POST' action='/result'>
                	<div class="form-row justify-content-center">
                	    <div class="col-sm-11">
                	        <input type="text" class="form-control" placeholder="Enter location here" name="q">
                        </div>
                        <div class="col-1">
                            <button type='submit' class=" btn btn-primary" >Go!</button>
                        </div>
                    </div>
                </form>
                
                
            </div>
            <br>
            <br>
            <br>
        </div>
    </header>

    
 

	  {% endblock %}
