{% extends 'base.html' %}

 {% block head %}
<title>cool places | Team D-E-V</title>
{% endblock %}


{% block content %}
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                <h4 class="section-subheading text-muted">team-DEV (Doreen, Esty & Vince)</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/static/img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Vincent Aduuna</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/static/img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Esther Ankomah</h4>
                        <p class="text-muted">Developer/UI/Designs</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/static/img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Doreen Dodoo</h4>
                        <p class="text-muted">Developer/DBA</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">TeamDEV-a project group from global code summer 2018 camp, Accra-Ghana.
                    TeamDev has another of exciting projects coming  up.  A very Awesome one. Stay in touch</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
